@charset "UTF-8";
/* ==================================================
HTML selector
================================================== */
html {
  font-size: 10px;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: white;
  color: #333;
}

/* ==================================================
custom CSS
================================================== */
