@charset "UTF-8";
/* ==================================================
basic
================================================== */
html {
  font-size: 10px;
}

/* ==================================================
variables
================================================== */
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  background: #fff;
  color: #333333;
  height: 2000px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

/* ==================================================
variables
================================================== */
body {
  background: gainsboro;
}

.test {
  margin: 0 auto;
  width: 1000px;
  background: -webkit-gradient(linear, left top, left bottom, from(mediumaquamarine), color-stop(60%), to(#2d7876));
  background: linear-gradient(mediumaquamarine, 60%, #2d7876);
  border-radius: 3rem;
  padding: 3rem;
}

.btn {
  margin: 3rem auto;
  width: 100px;
  height: 40px;
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.btn00 {
  -webkit-transition: .3s;
  transition: .3s;
  background: green;
}

.btn00:hover {
  opacity: .5;
}

.btn01 {
  -webkit-transition: .3s;
  transition: .3s;
  background: tomato;
}

.btn01:hover {
  background: white;
  color: tomato;
}

.btn02 {
  background: dodgerblue;
  border-bottom: 3px solid darkblue;
  -webkit-transition: all .3s;
  transition: all .3s;
  height: 43px;
}

.btn02:hover {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  border-bottom: 0px;
}

.btn03 {
  background: lightgray;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn03:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

.btn04 {
  background: mediumpurple;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn04:hover {
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

.btn05 {
  background: khaki;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn05:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.btn05 {
  background: lightcoral;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn05:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.btn06 {
  background: greenyellow;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn06:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.btn07 {
  font-weight: bold;
  border: 3px solid white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn07:hover {
  border: 3px solid tomato;
  color: tomato;
}

.btn08 {
  background-color: khaki;
  color: #333;
  position: relative;
}

.btn08::after {
  position: absolute;
  bottom: 4px;
  left: 10%;
  content: '';
  width: 80%;
  height: 2px;
  background: #333;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.btn08:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

/* ==================================================
custom CSS
================================================== */
.section {
  padding: 88px 0 120px;
}

@media (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
/*# sourceMappingURL=style.css.map */