.contact {
  .section-title {
    color: $cl-main;
  }

  &.section {
    background: url(../img/contact.png) center center / cover;

  }
}

.contact__container {
  max-width: 1280px;
  height: 800px;
  // background: url(../../../img-storage/day30/contact.png) center center / cover;
  padding-top: 72px;
  margin: 0 auto;

  @include mq('sp') {
    width: fit-content;
    height: fit-content;
    padding-bottom: 57px;
  }

}

.contact__form-container {
  width: 520px;
  margin: 0 auto;

  @include mq('sp') {
    // width: 374px;
    width: fit-content;
    // background: mediumaquamarine;
  }
}

.contact__form {

}

.contact__note {
  width: fit-content;
  margin: 0 auto 24px;
  position: relative;

  &::before {
    position: absolute;
    font-size: 2rem;
    color: #E7728E;
    content: "*";
    top: 22%;
    left: 0;
  }
}

.contact__input-container {
  display: flex;
  margin-bottom: 32px;

  @include mq('sp') {
    display: block;
    // margin: 20px auto;
    width: fit-content;
  }
}

.contact__input-item {
  width: 180px;
  height: 40px;
  background-color: #3EA1D1B3;
  color: white;
  margin-right: 20px;
  font-size: 18px;
  text-align: center;
  padding-top: 1rem;
  position: relative;

  @include mq('sp') {
    margin-bottom: 3px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 10px;
    border-color: transparent transparent transparent #3EA1D1B3;
    top: 0;
    right: -10px;

    @include mq('sp') {
      content: none;
    }
  }
}

.required {
  color: #E7728E;
}

.contact__input-name {

}

.contact__name {
  padding-left: 2rem;
  width: 320px;
  height: 40px;
  border: none;
  box-shadow: 5px 6px 15px #60606029;
  
  &:focus {
    outline: 1px solid $cl-main;
  }
}

.contact__input-mail {

}

.contact__mail {
  padding-left: 2rem;
  width: 320px;
  height: 40px;
  border: none;
  box-shadow: 5px 6px 15px #60606029;

  &:focus {
    outline: 1px solid $cl-main;
  }
}

.contact__input-corp-or-not {
  display: flex;
}

.contact__corp-or-not {

  display: none;

  &:checked + div {
    background: $cl-main;
    color: white;
  }

}

.radio-box {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  color: $cl-main;
  transition: all .3s;
  box-shadow: 5px 6px 15px #60606029;
  background-color: $cl-bg;
}

.contact__detail {
  padding: 2rem;
  width: 320px;
  height: 122px;
  border: none;
  box-shadow: 5px 6px 15px #60606029;
  resize: vertical;
  resize: none;

  &:focus {
    outline: 1px solid $cl-main;
  }
}

// checkbox
.contact__accept {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 51px;

  [type="checkbox"] {
    display: none;
  }

  [type="checkbox"]:checked + span {
    
    &::after {
      display: block;
    }
  }

  span {
    // display: inline-block;
    // padding-left: 49px;
    position: relative;
    

    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background-color: white;
      border: 1px solid $cl-main;
      top: -3px;
      left: -30px;
    }

    &::after {
      display: none;
      position: absolute;
      content: "";
      // width: 22px;
      // height: 2px;
      // background-color: $cl-main;
      // transform: rotate(-45deg);

      width: 30px;
      height: 30px;
      top: -6px;
      left: -30px;

      background: url(../img/checkbox_alt.png) no-repeat right 12px center / 17px 14px;
    }
  }

  a {
    color: $cl-main;
    text-decoration: underline;

    &:hover {
      color: $cl-main;
      text-decoration: underline;
    }
  }
}

.contact__submit {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: $cl-bg;
  font-size: 14px;
  vertical-align: middle;
  transition: all .3s;

  &:hover {
    // background-color: $cl-main;
    // color: white;
    // cursor: pointer;
  }

  &:not(:disabled) {
    color: $cl-main;
    border: 1px solid $cl-main;

    &:hover {
      background-color: $cl-main;
      color: white;
      cursor: pointer;
    }
  }

  &:disabled {
    border: gainsboro;
    color: gainsboro;
  }
}

.section.contact {
  margin-bottom: 0;
}