@import 'variables';
@import 'functions';
@import 'color';

@import 'sec-header';
@import 'sec-top';
@import 'sec-concept';
@import 'sec-feature';
@import 'sec-products';
@import 'sec-news';
@import 'sec-contact';
@import 'sec-contact-modal';
@import 'sec-footer';

$is-test: is-test(true);

html {
  font-size: 10px;
}

body {
  background-color: $cl-bg;
  color: $cl-font;
  font-size: 1.6rem;

  font-family: ヒラギノ明朝 ProN;
}

a {
  text-decoration: none;
  color: $cl-font;

  &:hover {
    color: $cl-font;
  }
}

.inner {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;

  @include mq('sp') {
    padding: 0 15px;
  }
}

.section {
  margin-bottom: 160px;

  @include mq('sp') {
    margin-bottom: 100px;
  }
}

.title-container {
  height: 120px;
}

.section-title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 16px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: $cl-main;
    top: 100%;
    left: 50%;

    transform: translateX(-50%);
  }
}

.btn-container {
  margin: 0 auto;
  width: 157px;
  height: 46px;
}

.btn {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: $cl-bg;
  color: $cl-main;
  font-size: 14px;
  border: 1px solid $cl-main;
  vertical-align: middle;
  transition: all .3s;

  &:hover {
    background-color: $cl-main;
    color: white;
    cursor: pointer;
  }

  &:active {
    
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.boxes {
  margin: auto;
  padding: 50px;
  background: #484848;
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  // color: #ddd;
  color: #333;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.drawer-toggle {
  // display: none;
  visibility: hidden;

  @include mq('sp') {
    // display: block;
    visibility: visible;
  }
}

.drawer-nav {
  z-index: 100;
}

.drawer-hamburger {
  display: none;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: -100px;
}

// for fixed screen (modal)
.fixed-screen {
  html, body{
    overflow: hidden;
  }
}
