/*==================================================
basic
==================================================*/
html {
  font-size: 10px;
}

body {
  background: linear-gradient(#ffffff, 80%, #b3b3b3);
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  opacity: .5;
}

/*==================================================
common
==================================================*/
.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.container-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section {
  padding: 2rem 0;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

/*==================================================
header
==================================================*/
.header {
  padding: 1rem 0;
  background-color: rgb(221, 112, 79);
  color: #fff;
}

.h1 {
  font-size: 3rem;
  font-weight: bold;
}

.main-nav-ul {
  display: flex;
}

.main-nav-li {
  display: inline-block;
  margin-left: 3rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 45px;
}

/*==================================================
top
==================================================*/
.top {
  height: 200px;
  background: linear-gradient(rgba(255, 255, 255, 0.63), 20%, rgba(196, 92, 23, 0.522)), url("../img/nuts00.jpg");
  background-size: cover;
  background-position: right 0% bottom 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-text {
  color: #fff;
  font-size: 3rem;
}

.top-sub-text {
  color: #fff;
  font-size: 1.6rem;
}

.bottom-spacing {
  margin-bottom: 1.2rem;
}

/*==================================================
about
==================================================*/
.about {
  width: 1000px;
}

.about-img {
  width: 400px;
  height: 300px;
  background-image: url("../img/chipmunk00.jpg");
  background-size: cover;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px gray;
}

.about-desc {
  width: 400px;
  padding: 2rem;
  font-size: 2rem;
}

/*==================================================
course
==================================================*/
.course {
  background-color: rgba(233, 200, 163, .2);
}

.item-pict {
  width: 300px;
  height: 200px;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px gray;
}

.item-desc {
  font-size: 1.6rem;
  text-align: center;
}

/*==================================================
contact
==================================================*/
.contact-desc {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

input[type="email"], input[type="text"] {
  width: 600px;
  border: 0;
  border-radius: 3rem;
  padding: 1rem;
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: block;
  margin: 0 auto 2rem;
}

.btn {
  padding: 1.4rem 4rem;
  border-radius: .5rem;
  border: none;
  display: inline-block;
  background-color: rgb(96, 206, 214);
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-submit {
  background-color: rgb(221, 112, 79);
  display: block;
  margin: auto;
}

.btn:hover {
  background-color: tomato;
  cursor: pointer;
}

.btn:active {
  opacity: .5;
}

.to-center {
  margin: 0 auto;
}

/*==================================================
footer
==================================================*/
.footer {
  padding: 1rem 0;
  background-color: rgb(221, 112, 79);
  color: #fff;
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.copyright {
  font-size: 1.6rem;
  margin-right: 2rem;
}

.credit {
  font-size: 1.4rem;
}

/*==================================================
[responsive] celly
==================================================*/
@media only screen and (max-width: 767px) {
  /*==================================================
  common
  ==================================================*/
  .container {
    width: 90%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  .container-vertical {
    display: block;
    width: 100%;
  }

  /*==================================================
  header
  ==================================================*/
  .h1 {
    font-size: 3rem;
  }

  /*==================================================
  top
  ==================================================*/
  .top-text {
    font-size: 2rem;
  }
  
  .top-sub-text {
    font-size: 1.4rem;
  }

  /*==================================================
  about
  ==================================================*/
  .about {
    width: 90%;
    margin: 0 auto;
  }
  
  .about-img {
    width: 100%;
    /* height: 200px; */
    background-image: url("../img/chipmunk00.jpg");
    background-size: cover;
    border-radius: 2rem;
    box-shadow: 5px 5px 5px gray;
    margin: 0 auto;
  }

  /*==================================================
  course
  ==================================================*/
  .course {
    background-color: rgba(233, 200, 163, .2);
    text-align: center;
  }

  .item-pict {
    width: 90%;
    height:90%;
    /* height: 200px; */
    border-radius: 2rem;
    box-shadow: 5px 5px 5px gray;
    text-align: center;
  }

  /*==================================================
  contact
  ==================================================*/
  /* .contact-desc {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  } */

  input[type="email"], input[type="text"] {
    width: 90%;
  }

  .btn {
    padding: 1.4rem 4rem;
    border-radius: .5rem;
    border: none;
    display: inline-block;
    background-color: rgb(96, 206, 214);
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .btn-submit {
    background-color: rgb(221, 112, 79);
    display: block;
    margin: auto;
  }

  .btn:hover {
    background-color: tomato;
    cursor: pointer;
  }

  .btn:active {
    opacity: .5;
  }

  .to-center {
    margin: 0 auto;
  }
  /*==================================================
  footer
  ==================================================*/
  .copyright {
    font-size: 1.2rem;
    margin-right: 2rem;
    margin: 0 auto;
  }

  .credit {
    font-size: 1.2rem;
  }
}