.footer {
  background: linear-gradient( #666, 60%, #333);
  padding: 60px 0 24px;
  color: white;
}

.footer__inner {
  width: 1000px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  @include mq('sp') {
    display: block;
  }
}

.footer__left {
  width: 300px;
  padding-left: 80px;
  @include mq('sp') {

    width: 100%;
  }
}

.footer__logo {
  width: 205px;
  
  a {

  }

  img {

  }
}

.footer__address {
  margin-top: 32px;
  font-size: 14px;
}

.footer__tel {
  margin-top: 10px;
  font-size: 14px;

}

.footer__center {
  width: 300px;
  @include mq('sp') {
    margin-top: 20px;
    width: 100%;
  }

}

.footer__nav {
  display: flex;
  margin: 0 auto;

  li {
    display: block;

    &:not(:first-child) {
      margin-left: 40px;

      @include mq('sp') {
        margin-left: 20px;
      }
    }
    

    a{
      text-decoration: none;
    }
  }
}

.footer__right {
  width: 300px;

  @include mq('sp') {
    margin-top: 20px;
    width: 100%;
  }

}

.footer__sns {
  display: flex;
  margin-left: auto;

  width: 260px;
  li {
    &:not(:first-child) {
      margin-left: 20px;
    }
    a {
      
      img {
        width: 30px;
      }
    }
  }
}

.footer__copy {
  margin-top: 46px;
  font-size: 14px;
  text-align: center;
  @include mq('sp') {

  }
}

.to-top {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 2rem;
  bottom: 2rem;
  opacity: 0;
  visibility: hidden;

  @include mq('sp') {
    width: 30px;
    height: 30px;
    right: 1rem;
    bottom: 1rem;
    transition: all .3s;
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
  }

  a {
    img {

    }
  }
}