// =======================================================================
// mixins
// =======================================================================

// define to mapped variable "breakpoints"
$breakpoints: (
  // key : value
  'sm' : 'screen and (max-width: 767px)',
  'md' : 'screen and (min-width: 768px)',
  // 'lg' : 'screen and (min-width: 992px)',
  // 'xl' : 'screen and (min-width: 1200px)'
) !default;

// preparing mixin for media query. default value is "md"
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// =======================================================================
// common css
// =======================================================================

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: #333;
  color: gainsboro;
}

