@charset "utf-8";

// =======================================================================
// mixins
// =======================================================================
// define to mapped variable "breakpoints"
$breakpoints: (
  // key : value
  'sm' : "screen and (max-width: 767px)",
  'md' : "screen and (min-width: 768px)",
  // 'lg' : 'screen and (min-width: 992px)',
  // 'xl' : 'screen and (min-width: 1200px)'
) !default;

// preparing mixin for media query. default value is "md"
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// =======================================================================
// colors & variables
// =======================================================================
// primary colors
$gray: #F3F3F3;
$black: #3E3E3E;
$white: white;
$orange: #FFAA3B;
$blue: #4973FF;
$red: #FF4646;

$btn-hover: #F18900;
$btn-disable: #B2B2B2;

$header-pc-color: #FFFFFF1A;
$news-border-color: lightgray;

// en font size
$en-sz-venti: 38px;
$en-sz-grande: 36px;
$en-sz-tall: 20px;
$en-sz-short: 18px;
$en-sz-tiny: 14px;

// jp font size
$ja-sz-venti: 32px;
$ja-sz-grande: 28px;
$ja-sz-tall: 20px;
$ja-sz-short: 16px;
$ja-sz-tiny: 12px;

// =======================================================================
// media query
// =======================================================================
@include mq('sm') {
  .is-pc {
    display: none;
  }
}

@include mq('md') {
  .is-sp {
    display: none;
  }
}

// ======================================================================
// common
// ======================================================================

html {
  font-size: 10px;
}

body {
  color: $black;
  font-size: 1.6rem;
  font-family: "游ゴシック体", "Montserrat", sans-serif;
  // font-family: 'Lato', sans-serif;
  // font-family: 'Noto Sans JP', sans-serif;
}

.util-title {
  font-size: $en-sz-grande;
  font-weight: 700;
  color: $black;
  text-align: center;
}

.util-btn {
  letter-spacing: 4px;
  font-weight: 700;
  padding: 20px 80px;
}

.btn-white {
  background: $white;
  color: $black;
  border: 1px solid $black;
  transition: all .3s;

  &:hover {
    background: $black;
    color: $white;
    border: 1px solid $white;
  }
}

.btn-black {
  background: $black;
  color: $white;
  border: 1px solid $white;
  transition: all .3s;

  &:hover {
    background: $white;
    color: $black;
    border: 1px solid $black;
  }
}

.inner {
  padding: 0 15px;
}

// ======================================================================
// temporary
// ======================================================================
.sec {
  @include mq(md) {
    padding-top: 60px;
    // max-width: 1200px;
    // margin: 0 40px;
    // height: 1200px;
  }

  background: mediumaquamarine;
  // margin-bottom: 100px;
}

// ======================================================================
// header
// ======================================================================

.header {
  @include mq(md) {
    height: 84px;
    background: $header-pc-color;
  }

  @include mq(sm) {
    height: 68px;
    background: $white;
    line-height: 68px;
  }

  position: fixed;
  top: 0;
  left: 0;
  // background: tomato;

  width: 100%;
  z-index: 100;
}

.header__wrapper {
  max-width: 570px;
  margin: 0 auto;
  // background: dodgerblue;
}

.header__comp-name {
  font-size: $en-sz-tall;
  font-weight: 700;
}

.header__nav {
  // padding: 0 3rem;
  line-height: 84px;
  // vertical-align: middle;
  @include mq(sm) {
    display: none;
  }

  @include mq(md) {
    display: block;
  }
}

.header__ul {
  display: flex;
  color: white;
}

.header__li {
  a {
    display: block;
    color: $black;
    padding: 0 20px;
    transition: all .3s;

    &:hover {
      color: white;
      // background: ghostwhite;
      transform: translate(0, -3px);
      text-shadow: 0px 5px 5px rgba(0, 0, 0, .16);
    }
  }
}

// ----------------------------------------------------------------------
// header drawer
// ----------------------------------------------------------------------

.header__dr-nav, .header__dr-btn {
  @include mq(sm) {
    display: block;
  }

  @include mq(md) {
    display: none;
  }
}
// ======================================================================
// main
// ======================================================================
.main {
  // @include mq(md) {
  //   position: absolute;
  // }

  @include mq(sm) {
    position: relative;
    height: 3000px;
  }
}

// ======================================================================
// top
// ======================================================================

.top {
  // margin-top: 84px;
  // height: 565px;
  @include mq(md) {
    width: 100%;
    // width: 1200px;
    height: 649px;
  }

  @include mq(sm) {
    width: 100%;
    height: 667px;

    position: relative;
    left: 0;
    top: 0px;
    z-index: 98;
    // background: red;
  }
}

.top__img-container {
  width: 100%;
  height: 100%;
  background: url(../img/mv.png) no-repeat center center / cover; //


  @include mq(sm) {
    background: url(../img/mv.png) no-repeat top left / cover;
    background-position: -170px 20px;
  }
}

.top__item-container {
  @include mq(md) {
    position: absolute;
    top: 236px;
    left: 640px;
    left: 50%;//
  }

  @include mq(sm) {
    position: absolute;
    // background: blue;
    width: calc(100% - 30px);
    top: 221px;
    left: 25px;
  }
  
}

.top__text-container {
  // background: purple;
  @include mq(sm) {
    // margin-left: 15px;
  }
}

.top__title {
  font-size: $ja-sz-venti;
  font-weight: 700;
  font-weight: 5rem;
  line-height: 48px;

  @include mq(md) {
    margin-bottom: 40px;
  }

  @include mq(sm) {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 32px;
    // background: yellow;
  }
}

.top__text {
  font-weight: $ja-sz-tall;
  font-weight: 700;
  line-height: 28px;

  @include mq(md) {
    margin-bottom: 56px;
  }
  @include mq(sm) {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
  }
}

.top__btn-container {
  @include mq(sm) {
    margin: 0 auto;
    width: fit-content;
    height: 48px;
  }
}

.top__btn {
  background: $orange;
  color: $white;
  font-weight: $ja-sz-short;
  padding: 16px 50px;
  border-radius: 10px;
  transition: all .3s;

  box-shadow: 0px 3px 5px #3E3E3E33;

  @include mq(sm) {
    font-size: 16px;
    padding: 16px 32px;
  }

  &:hover {
    background: $btn-hover;
    cursor: pointer;
  }
}

// ======================================================================
// news
// ======================================================================

.news {
  background: $gray;
  width: 100%;
  // width: 1200px;

  @include mq(md) {
    padding-top: 120px;

    .util-title {
      margin-bottom: 60px;
    }
  }

  @include mq(sm) {
    position: ;
    top: 628px;
    top: 570px;
    z-index: 99;
    background: dodgerblue;
    margin: 0 15px;
    width: calc(100% - 30px);
  }
}

.news__container {
  // background: blue;
  background: $white;

  padding-top: 60px;
  margin: 0 auto;
  box-shadow: 0px 5px 12px #3E3E3E33;

  @include mq(md) {
    max-width: 1200px;
  }

  @include mq(sm) {
    // position: absolute;
    // top: 600px;

    // margin: 100px 15px;
    // box-shadow: 5px 5px 5px rgba(0,0, 0, .16);
  }
}

.news__item-container {
  // margin-top: 60px;
  margin: 0 auto;
  margin-bottom: 30px;

  @include mq(md) {
    max-width: 1080px;
  }

  &:nth-child(2) {
    border-top: 1px solid $news-border-color;
  }
}

.news__item {
  // background: dodgerblue;

  border-bottom: 1px solid $news-border-color;
  position: relative;

  @include mq(md) {
    display: flex;
    max-width: 1080px;
    height: 120px;
    line-height: 120px;
  }

  @include mq(sm) {
    padding: 16px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 40%;
    right: 0;
    width: 30px;
    height: 30px;
    background: url(../img/news-arrow.png) no-repeat center center/cover;
    background-size: 50%;
  }

}

.news__item-inner {
  height: 40px;
  display: flex;
  margin: auto 0;

  @include mq(sm) {
    margin: 12px 0;
  }
  // background: dodgerblue;
}

.news__item-day {
  height: 30px;
  line-height: 30px;
  margin: auto 0;
}

.news__item-title {
  width: 120px;
  margin: auto 40px auto 40px;
  height: 30px;
  line-height: 30px;

  @include mq(md) {

  }

  @include mq(sm) {
    // width: 120px;
  }

  h3 {
    border: 2px solid $blue;
    border-radius: 50px;
    text-align: center;
  }
}

.news__item-text {
  margin: auto 0;
  // background: tomato;
  p {
    // background-color: mediumaquamarine;
    line-height: 28px;

    @include mq(md) {
      max-width: 698px;
    }

    @include mq(sm) {

    }
    
  }
}

.news__footer {
  width: fit-content;
  margin: 0 auto;

  .util-btn {
    margin-bottom: 40px;
  }
}

// ======================================================================
// service
// ======================================================================

.service {
  margin-top: 120px;
  // position: relative;
  height: 1000px;
  margin-bottom: 120px;
  width: 100%;

  .util-title {
    margin-top: 60px;
    color: white;
  }

  @include mq(sm) {
    // position: absolute;
    // margin-top: 800px;
    // z-index: 102;
  }

  background: lightsalmon;
}

.service__bg-box {
  background: $black;
  height: 400px;
  // position: absolute; ///
  top: 0;
  left: 0;
  width: 100%;
}

.service__item-container {
  // position: absolute; ///
  z-index: 100;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  background: $white;


  box-shadow: 0px 5px 12px #3E3E3E33;

  @include mq(md) {
    width: 960px;
    height: 331px;
    display: flex;
    justify-content: space-around;
  }

  @include mq(sm) {
    position: absolute;
    top: 0;
    left: 50%;
  }


}

.service__item {
  width: 230px;
  height: 211px;
  height: fit-content;
  padding-top: 60px;
  // background: dodgerblue;

  flex: 0 0 23.9683%;
}

.service__item-img {
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 8px;

  img {
    width: 64px;
    height: 64px;
  }
}

.service__title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 28px;
}

.service__text {
  margin: 0 auto;
  // text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
}