body {
  height: 2000px;
}

.price {
  margin-bottom: 100px;
  margin-top: 100px;
}

.price__inner {
  margin-bottom: 300px;
}

.price__head {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 28px;
  position: relative;
  margin-bottom: 3rem;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 60px;
    height: 4px;
    background: $cl-main;

    @include mq('sp') {
      width: 42px;
      height: 3px;
    }
  }

  @include mq('sp') {
    font-size: 26px;
    padding-bottom: 18px;
  }
}

.price__items {
  display: flex;
  justify-content: space-between;
  // background: aqua;
  padding: 0 40px;
}

.price__img {
  width: 454px;
  height: 286px;
  background: url(../img/price-img.png);
  background-size: cover;

  margin-right: 40px;
}

.price__the-table {
  $table-line: #707070;
  $table-cel: #999;
  $table-data: white;

  border-spacing: 0;
  width: 708px;
  height: 286px;
  border: 1px solid $table-line;
  margin: 0;

  tr {
    border: 1px solid $table-line;
  }

  th {
    border: 1px solid $table-line;
    background: $table-cel;
    color: white;
    font-weight: 700;
    vertical-align: middle;
  }

  td {
    padding-right: 2rem;
    border: 1px solid $table-line;
    background: $table-data;
    text-align: right;
    vertical-align: middle;
    &::after {
      content: " yen";
    }
  }
}

$important: red;

.imp {
  color: $important;
}

.price__contact {
  // margin: 0 auto;
  text-align: left;
  // background: tomato;
}

.access__head {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 28px;
  position: relative;
  margin-bottom: 3rem;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 60px;
    height: 4px;
    background: $cl-main;

    @include mq('sp') {
      width: 42px;
      height: 3px;
    }
  }

  @include mq('sp') {
    font-size: 26px;
    padding-bottom: 18px;
  }
}