@charset "UTF-8";
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.top {
  background-image: url(../img/header.jpg);
  background-size: cover;
}
/* .top-img {
  background-image: url(../img/ppl.png);
} */
.eye-catcher {
  width: 100%;
  height: 100%;
}

.first-pict {

}