.header {
  // background-color: rgb(238, 238, 238);
  background-color: rgb(243, 243, 243);
  padding: 1rem;
  display: flex; //
  justify-content: space-between;

  @include mq('sp') {
    padding: 2rem;
    background-color: aquamarine;
  }

  // @include mq('pc') {
  //   height: 200px;
  //   background-color: aquamarine;
  // }

}

.main-nav {
  display: flex;
  align-content: space-around;
  margin-top: 2rem;
}

.main-nav-li {
  display: inline-block;
  padding-right: 3rem;
  // font-size: activeFontSize($base-font-size);

  a {
    text-decoration: none;
    color: #777;
    
    &:hover {
      opacity: .5;
    }
  }
}

.title {
  font-size: 4rem;
  text-shadow: 5px 5px 5px gray;
  margin-left: 3rem;
}
