@charset "UTF-8";
/* ==================================================
HTML selector
================================================== */
html{
  font-size: 10px;
}

body {
  /* font-family: 'ROLAchan', Verdana, Geneva, Tahoma, sans-serif; */
  background: linear-gradient(#ffffff, 80%, #b3b3b3);
  /* color: #333; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-size: 1.6rem;
  color: #333;
}

/* ==================================================
custom CSS
================================================== */
.cl-red {
  background-color: rgb(221, 112, 79);
}

.cl-white {
  color: white !important;
}

.top-title {
  font-size: 3rem;
  font-weight: bold;
  /* color: white; */
  padding-left: 5rem;
}

.nav-li {
  font-size: 2rem;
  font-weight: bold;
  padding-right: 5rem;
  /* color: white; */
}

.title-sec {
  font-size: 3rem;
  padding: 3rem;
}

.center {
  margin: 0 auto;
}

/* ==================================================
top
================================================== */
.top-text {
  color: white;
  font-size: 3rem;
}

.top-sub-text {
  color: white;
  font-size: 2rem;
}

.top-bg {
  background: linear-gradient(rgba(255, 255, 255, 0.63), 20%, rgba(196, 92, 23, 0.522)), url("../img/nuts00.jpg");
  background-size: cover;
  /* background-position: right 0% bottom 65%; */
}

/* ==================================================
about
================================================== */
.about-pict {
  /* width: 400px; */
  /* width: 20%; */
  height: 240px;
  background-image: url("../img/chipmunk00.jpg");
  background-size: cover;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px gray;
}

.about-desc {
  font-size: 2rem;
}

/* ==================================================
course
================================================== */
.course {
  background-color: rgba(233, 200, 163, .2);
}

.course-pict {
  height: 220px;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px gray;
}

.pict1 {
  background-image: url("../img/nuts01.jpg");
  background-size: cover;
}

.pict2 {
  background-image: url("../img/nuts02.jpg");
  background-size: cover;
}

.pict3 {
  background-image: url("../img/nuts03.jpg");
  background-size: cover;
}

/* ==================================================
contact
================================================== */
.email {
  width: 400px;
  border: none;
  border-radius: 3rem;
}

.btn-submit {
  padding: 1rem 4rem;
  border-radius: 1rem;
  background-color: rgb(221, 112, 79);
  color: white;
  font-size: 2.2rem;
  display: block;
  margin: 0 auto;
}

.btn-submit:hover {
  background-color: tomato;
  color: white;
}

/* ==================================================
footer
================================================== */
.footer {
  background-color: rgb(221, 112, 79);
  color: white;
}

.credit {
  margin: 0;
}

.copyright {
  /* margin: 4rem 0; */
  font-size: 1.6rem;
}

.cp-link {
  color: white;
}

.cp-link:hover {
  color: white;
  opacity: .5;
  text-decoration: none;
}
