/* ==================================================
variables
================================================== */

// variables
$cl-main: #3F51B5;
$cl-accent: #E81919;
$cl-text: #333333;

$layout-width-inner: 1200px;

// breakpoint
$breakpoints: (
// key : value
  'sp': "(max-width: 767px)", 
  'tab': "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})", 
  'pc': "(min-width: #{$layout-width-inner})"
) !default;


