/* ==================================================
variables
================================================== */
$base-font-size: 10px;
// $link-color-active: #da1e32;
$link-color-active: lightcoral;
$link-color-base: #333;
$link-font-size: 1.6rem;
$section-margin: 3rem;
